# --- Python / Django ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# venv
venv/
env/

# 環境変数
.env
.env.*

# Django static files
/staticfiles/
/static/

# --- Docker ---
*.pid
/postgres_data/

# --- OS ゴミ ---
.DS_Store

# --- エディタ ---
.vscode/
.idea/

# --- フロント関連 ---
node_modules/
dist/
build/

# --- テスト / coverage ---
.pytest_cache/
.coverage
