services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: todo_db_o1q3
      POSTGRES_USER: todo_db_o1q3_user
      POSTGRES_PASSWORD: BLOGjcAgQwpGxsaBrS6iLEd6kXkUUwRL
      POSTGRES_HOST: dpg-d4k20dvdiees73b7u51g-a
      POSTGRES_PORT: 5432

  backend:
    build: ./backend
    container_name: todo_project3-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env.prod

  frontend:
    build: ./frontend
    container_name: todo_project3-frontend
    command: ["npm","run","dev","--","--host","0.0.0.0"]
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "3000:3000"

volumes:
  postgres_data:
  frontend_node_modules:




#docker-compose.yml