services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: todo_db_o1q3
      POSTGRES_USER: todo_db_o1q3_user
      POSTGRES_PASSWORD: BLOGjcAgQwpGxsaBrS6iLEd6kXkUUwRL
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


#docker-compose.yml