services:
  backend:
    env_file:
      - .env.local

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: todo_user
      POSTGRES_PASSWORD: kaibasensei
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"   # ホスト側で競合回避

#docker-compose.override.yml